*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

.formula{
    position: absolute;
    margin-top: 300px;
    margin-left: 800px;
    width: 300px;
    height: 400px;
 
}
.formula input {
    margin-top: 20px;
    border-radius: 60px;
    padding: 8px 0 8px 35px;
    outline: none;
    width: 100%;
}
button[type="submit"] {
    background: #006241;
    color: white;
    border-radius: 30px;
    width: 40%;
    border: none;
    outline: none;
    padding: 8px 0 8px 0;
    font-size: 15px;
    margin-top: 40px;
    cursor: pointer;
  }
  button[type="reset"] {
    background: #006241;
    color: white;
    border-radius: 30px;
    width: 40%;
    border: none;
    outline: none;
    padding: 8px 0 8px 0;
    font-size: 15px;
    margin-top: 40px;
    margin-left: 50px; ;
    cursor: pointer;
  }
.divCheck {
    margin: 10px 0 0 5px;
    width: 80%;
    font-size: 13px;
  }
 